@use "../styles/colours";
@import "mixins";

.actions {
  display: flex;
  justify-content: center;
  padding: 1rem 0;

  button {
    font: inherit;
    background-color: colours.$colour-purple;
    padding: 1rem 2rem;
    margin: 0 1rem;
    border: none;
    border-radius: 4px;
  }
  @include hover() {
    button:hover {
      box-shadow: 0 2px 8px colours.$colour-hover-purple;
    }
  }
}
